.App {
	text-align: center;
}

/* SEAT CONTAINER */
.seat-selection-container,
.passenger-container {
	text-align: center;
	margin-top: 20px;
}
.layout {
	margin: 20px auto;
	width: 50%;
	border: 3px solid black;
	padding: 20px 10px;
	display: flex;
	justify-content: space-around;
}
.seat-row {
	list-style: none;
	display: flex;
	flex-direction: column-reverse;
}

.seat {
	border: 1px solid lightgray;
	padding: 6px;
	width: 45px;
	height: 15px;
	margin: 4px 0px;
	cursor: pointer;
	position: relative;
}
.seat:hover {
	border: 1px solid green;
}
.seat::after {
	content: '';
	position: absolute;
	right: 3%;
	top: 50%;
	height: 6px;
	width: 3px;
	border: 1px solid black;
	transform: translateY(-50%);
}
.seat-r {
	background-color: red;
	cursor: not-allowed;
}
.seat-r:hover {
	border: 1px solid white;
}
.no-seat {
	visibility: hidden;
	height: 30px;
}

.seat-selected {
	color: white;
	background-color: green;
}
/* SEAT CONTAINER END */

button {
	background: none;
	cursor: pointer;
	padding: 8px;
	border: 2px solid rebeccapurple;
	color: rebeccapurple;
	border-radius: 4px;
}

button:disabled,
button[disabled] {
	color: gray;
	border: 2px solid gray;
	cursor: not-allowed;
}
.btn-delete {
	margin: 10px;
	padding: 5px;
	border: 2px solid crimson;
}
.btn-delete:hover {
	background-color: crimson;
}
.btn-add {
	background-color: darkorange;
	color: white;
}
.btn-add:hover {
	color: darkorange;
	background: blue;
	border: 2px solid darkorange;
}
.btn-next:hover {
	background-color: darkgreen;
	color: white;
	left: 20px;
}

.btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 30px;
}

.btn-back {
	position: absolute;
	left: 20px;
	top: 23px;
}
input {
	border: none;
	border-bottom: 1px solid black;
	margin: 8px;
	padding: 8px;
}
input:focus {
	outline: none;
}

.layout-decs {
	font-size: 13px;
}

.layout-decs h1 {
	margin-top: 0px;
}
.layout-decs span {
	font-size: 8px;
}
.seat-num {
	font-size: 8px;
	position: absolute;
	left: -21%;
	bottom: -5%;
	color: gray;
}

.heading {
	text-align: center;
}
